#text-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center;
    flex-direction: column;
}

#postItQrCode{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: rgba(73, 73, 73, 0.5);
    justify-content: space-evenly;
    align-items: center;
  }
  #postItQrCode img{
    width: 30vh;
    background-color: white;
  }

  #exitQR{
    background-color: rgba(255, 251, 251, 0.438);
    padding: 0.5rem;
    border-radius: 50%;
    width: 40px;

  }