@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
  }

  @layer utilities {
    @keyframes upcredits {
      0% {
        transform: translateY(100%);
        opacity: 0;
      }
      25% {
        opacity: 1;
      }
      100% {
        transform: translateY(-100%);
        opacity: 0;
      }
    }
  
    .animate-upcredits {
      animation: upcredits 15s linear forwards; /* Plus lent, avec une durée de 15 secondes */
    }
  }
  
  
